<template>
    <div class="alert alert-info">
        {{ announcement }}
    </div>
</template>

<script>
    export default {
        data() {
            return {
                announcement: 'Site under maintenance',
            };
        },
    };
</script>

<style>
.alert {
    margin-bottom: 0;
    z-index: 10;
    border-radius: 0;
}
</style>
