<template>
  <wrapper>
    <div class="hello">
      <h1>{{ msg }}</h1>
      <ul>
        <li class="tile">
          <router-link to="/active">
            <div class="tile-icon">
              <icon name="star" scale="2"></icon>
            </div>
            <p>Active Flights (0)</p>
          </router-link>
        </li>
        <li class="tile">
          <router-link to="/past">
            <div class="tile-icon">
              <icon name="flag" scale="2"></icon>
            </div>
            <p>Past Flights (0)</p>
          </router-link>
        </li>
        <li class="tile">
          <router-link to="/new">
            <div class="tile-icon">
              <icon name="plus" scale="2"></icon>
            </div>
            <p>New Flights (0)</p>
          </router-link>
        </li>
      </ul>
    </div>
    <b-table striped hover :items="items"></b-table>
    <vue-link href="https://viljamis.com/">
      This is a vue-link
    </vue-link>
    <vue-button>
      This is a vue-button
    </vue-button>
    <div class="pull-left">
      <b-button @click="showModal" size="sm" variant="warning">
        Open Modal
      </b-button>
      <b-modal ref="myModalRef" hide-footer title="Using Component Methods">
        <div class="d-block text-center">
          <h3>Hello From My Modal!</h3>
        </div>
        <b-btn class="mt-3 pull-right" variant="outline-info" @click="hideModal">Close Me</b-btn>
      </b-modal>
    </div>
  </wrapper>
</template>

<script>
const items = [
  { isActive: true, age: 40, first_name: 'Dickerson', last_name: 'Macdonald' },
  { isActive: false, age: 21, first_name: 'Larsen', last_name: 'Shaw' },
  { isActive: false, age: 89, first_name: 'Geneva', last_name: 'Wilson' },
  { isActive: true, age: 38, first_name: 'Jami', last_name: 'Carney' },
];

export default {
  name: 'Raven',
  data() {
    return {
      msg: 'Get Started',
      query: 'select * from clients;',
      items: items,
    };
  },
  methods: {
    showModal() {
      this.$refs.myModalRef.show();
    },
    hideModal() {
      this.$refs.myModalRef.hide();
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: .5em;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: .5em;
}
li {
  /* width: 8em;
  height: 8em; */
  background: #42b983;
  /* border: .5em white solid; */
  padding: 1em;
}
li:hover {
  background: #555;
}
a {
  color: #42b983;
}
li>a {
  color: #fff;
}
.tile-icon {
  margin-top: 4px;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
</style>
