<template>
  <!-- <div class="hello">
    <h1>{{ msg }}</h1>
    <child text="footer"></child>
  </div> -->
  <div>
    <!-- <sand-box-flex/> -->
    <div class="tile-icon">
      <icon name="star" scale="2"></icon>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Raven',
  data() {
    return {
      msg: 'New Flights',
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
