<template>
  <div id="app" style="margin-top:0">

    <!-- <topbar></topbar> -->

    <b-navbar toggleable="md" type="dark" variant="info">

        <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

        <!-- <b-navbar-brand href="#">Raven</b-navbar-brand> -->
        <!-- <b-navbar-brand><router-link to="/">Raven</router-link></b-navbar-brand> -->
        <router-link to="/">
          <img src="./assets/header-logo.png" style="height:36px"/>
        </router-link>
        <b-collapse is-nav id="nav_collapse">

            <b-nav-item-dropdown text="Apps" style="list-style:none">
            <b-dropdown-item>
              <router-link to="/active">Active Flights</router-link>
            </b-dropdown-item>
            <b-dropdown-item><router-link to="/past">Passsst Flights</router-link></b-dropdown-item>
            <b-dropdown-item><router-link to="/new">New Flights</router-link></b-dropdown-item>
            <!-- <b-dropdown-item href="#">App4</b-dropdown-item> -->
            </b-nav-item-dropdown>

            <!-- <b-navbar-nav>
            <b-nav-item><router-link to="/foo">Go to Foo</router-link></b-nav-item>
            <b-nav-item><router-link to="/bar">Go to Bar</router-link></b-nav-item>
            <b-nav-item href="#" disabled>Disabled</b-nav-item>
            </b-navbar-nav> -->

            <!-- Right aligned nav items -->
            <b-navbar-nav class="ml-auto">

            <!-- <b-nav-form>
                <b-form-input size="sm" class="mr-sm-2" type="text" placeholder="Search"/>
                <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
            </b-nav-form> -->

            <!-- <b-nav-item-dropdown text="Lang" right>
                <b-dropdown-item href="#">EN</b-dropdown-item>
                <b-dropdown-item href="#">ES</b-dropdown-item>
                <b-dropdown-item href="#">RU</b-dropdown-item>
                <b-dropdown-item href="#">FA</b-dropdown-item>
            </b-nav-item-dropdown> -->

            <b-nav-item-dropdown right>
                <!-- Using button-content slot -->
                <template slot="button-content">
                <em>User</em>
                </template>
                <b-dropdown-item href="#">Profile</b-dropdown-item>
                <b-dropdown-item href="#">Signout</b-dropdown-item>
            </b-nav-item-dropdown>
            </b-navbar-nav>

        </b-collapse>
    </b-navbar>
    <!-- navbar-1.vue -->

    <!-- basic -->
    <!-- <icon name="beer"></icon> -->

    <!-- with options -->
    <!-- <icon name="refresh" scale="2" spin></icon>
    <icon name="comment" flip="horizontal"></icon>
    <icon name="code-fork" label="Forked Repository"></icon> -->

    <!-- stacked icons -->
    <!-- <icon label="No Photos">
      <icon name="camera"></icon>
      <icon name="ban" scale="2" class="alert"></icon>
    </icon> -->

    <!-- <img src="./assets/logo.png"> -->
    <announcement></announcement>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'App',
};
</script>

<style>
#app {
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.navbar-brand a,
.nav-item>a {
  color: #fff;
}
.hello {
  margin-top: 1em;
}
</style>
